*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

.classpath
.project
AlgoTruco/src/AlgoTrucoClases/Jugador.java
.metadata/.lock

.metadata/.log

*.gen

.metadata/.mylyn/.taskListIndex/segments_1

*.zip

.metadata/.plugins/org.eclipse.core.resources/.history/f/f0918f1552ae001514e0ebc5c9be24dc

*.snap

*.properties

*.index

*.prefs

*.frq

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/history/segments_1

*.fdt

*.tis

*.fdx

*.resources

*.nrm

*.fnm

*.tii

*.lock

.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps

*.txt

.metadata/.plugins/org.eclipse.epp.logging.aeri.ui/remote-index/segments_1

*.xml

*.dat

*.history

*.log

*.setup

*.mark

.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps

*.js

*.ini

*.xmi
